/* NAVBAR GENERAL */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px 25px;
}


/* LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #030202;
    font-size: 25px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f0a500;
}
